@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for a better look in dark mode */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
}
::-webkit-scrollbar-thumb {
  background: #475569; /* slate-600 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* slate-500 */
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-password-reveal-button {
    display: none;
    -webkit-appearance: none;
    appearance: none;
}

body {
  /* Define a altura da barra de navegação como uma variável CSS */
  --navbar-height: 6rem; /* Corresponde a h-20 no Tailwind */
}

/* Nova classe para o contêiner de conteúdo principal */
.content-wrapper {
  padding-bottom: var(--navbar-height);
}
